<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>

    <!-- Папки, куда все деплоится. Начало -->
    <add key="primary_instance_deploy_dir" value="\\kaspihelpt-1\exch\web" />
    <add key="secondary_instance_deploy_dir" value="\\kaspihelpt-1\exch\web" />
    <add key="kaspimanager_instance_deploy_dir" value="\\kaspihelpt-1\exch\web" />
    <!-- Папки, куда все деплоится. Конец -->

    <!-- Имя папки, где лежат файлы проекта в рутовой директории сайта -->
    <add key="website_common_dir" value="site" />
    <!-- Имя папки, где лежат все архивы по подпапкам -->
    <add key="website_arch_dir" value="arch" />

    <!-- имена папок, которые нужно игнорировать в процессах удаления/копирования -->
    <add key="specific_content_folder_names" value="_appeals,_uploads,_video" />


    <!-- Первичная нода. Начало -->
    <!-- Папка сайта, в которой содержатся подпапки с файлами проекта и архивами -->
    <add key="primary_instance_target_dir" value="\\kaspihelpt-1\c$\projects\KaspiHelpTest" />
    
    <!-- Урл сайта, чтоб запустить в браузере -->
    <add key="primary_instance_url" value="http://kaspihelpt-1/guide" />

    

  </appSettings>

</configuration>