<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>

    <add key="primary_instance_deploy_dir" value="\\kaspihelpt-1\exch\web" />
    <add key="secondary_instance_deploy_dir" value="\\kaspihelpt-1\exch\web" />
    <add key="kaspimanager_instance_deploy_dir" value="\\kaspihelpt-1\exch\web" />


    <add key="primary_instance_target_dir" value="\\kaspihelpt-1\c$\projects\KaspiHelpTest" />
    <add key="website_common_dir" value="site" />
    <add key="website_arch_dir" value="arch" />

  </appSettings>

</configuration>